.App {
  height: 100vmax;
  display: flex;
}

.nav-bar {
  float: left;
  height: 100%;
  overflow: auto;
  width: calc(18vw - 1px);
}

.main-page {
  overflow: auto;
  float: right;
  height: 100%;
  width: 82vw;
  background-color: #eef2f9;
  border-left: 1px solid black;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}

.dashboard-tag:hover,
.input-tag:hover,
.stock-tag:hover,
.crypto-tag:hover,
.budget-tag:hover,
.goals-tag:hover,
.subscription-tag:hover {
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.dashboard-tag,
.input-tag,
.stock-tag,
.crypto-tag,
.budget-tag,
.goals-tag,
.subscription-tag {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.dashboard-tag p,
.input-tag p,
.stock-tag p,
.crypto-tag p,
.budget-tag p,
.goals-tag p,
.subscription-tag p {
  font-size: min(2.5vh, 1.5vw);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dashboard-icon,
.input-icon,
.stock-icon,
.crypto-icon,
.subscription-icon,
.budget-icon,
.goals-icon {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: min(2.5vh, 1.5vw);
}


.stock-page{
  width: inherit;
  height: inherit;
  display: flex;
}

.stock-graph{
  height: 40vh;
  width: 60%;
  margin-top: 20vh;
  margin-left: 5vw;
  padding-right: 2vw;
  padding-top: 3vh;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.side-cards{
  width: 20%;
  height: 40vh;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
}

.stock-info{
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 4vh;
  height: 15vh;
}

.stock-net{
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 5vh;
  height: 15vh;
}

.stock-green{
  color: green;
  font-size: min(2vh,1.2vw);
}

.stock-red{
  color: red;
}

.stock-value{
  font-size: min(2.5vh,1.5vw);
  padding-top: 3vh;
  text-align: center;
}

.stock-data{
  justify-content: space-between;
  display: flex;
  text-align: justify;
  padding-left: 2vw;
  padding-right: 2vw;
}