.App {
  height: 100vmax;
  display: flex;
}

.nav-bar {
  float: left;
  height: 100%;
  overflow: auto;
  width: calc(18vw - 1px);
}

.main-page {
  overflow: auto;
  float: right;
  height: 100%;
  width: 82vw;
  padding: 10px;
  background-color: #eef2f9;
  border-left: 1px solid black;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}

.navbar-tag:hover {
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.navbar-tag {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-tag p {
  font-size: min(2.5vh, 1.5vw);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar-icon {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: min(2.5vh, 1.5vw);
}


.stock-page{
  width: inherit;
  height: inherit;
  display: flex;
}

.stock-graph{
  height: 40vh;
  width: 60%;
  margin-top: 5vh;
  margin-left: 5vw;
  padding-right: 2vw;
  padding-top: 3vh;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: min(2vh,1.5vw);
}

.dropdown select{
  margin-top: 5vh;
  margin-left: 5vw;
  width: 10%;
  height: 5vh;
  font-size: min(2vh,1.5vw);
  background-color: transparent;
  border-style: none;
  border: none;
  outline: none;
  border-bottom-style: groove;
}

.side-cards{
  width: 20%;
  height: 40vh;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}

.stock-name{
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  height: 5vh;
  display: flex;
  align-items: center;
  width: 50%;
  border-radius: 20px;
  justify-content: center;
  font-size: 2.5vh;
  font-weight: 500;
  margin-top: 3vh;
}

.stock-currentval{
  margin-top: 3vh;
  height: 5vh;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 20px;
}

.stock-currentval-label{
  width: 55%;
  display: flex;
  align-items: center;
  border-right: 1px solid black;
  height: inherit;
  justify-content: center;
  font-size: 1.5vh;
  overflow: auto;
}

.green{
  color: green;
}

.red{
  color: red;
}

.stock-currentval-value,.green,.red{
  overflow: auto;
  font-size: 1.5vh;
  justify-content: center;
  width: 45%;
  display: flex;
  align-items: center;
  height: inherit;
}
